.container{
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  width: 926px;
}

.container-con{
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  width: 926px;
}

/*
.cart{
    width: 300px;
    
    height: 300px;
    
    display: inline-block;
    
    padding: 10px;
    
    font: normal 11px Arial;
    
}*/

/* ~~~~ changes in style.css ~~~~ */

.logo-pink{
    background: url(../img/logo-pink.png) center center no-repeat;
    background-size: 100%;
}

.logo-footer{
    height: 90px;
    width: 90px;
}

.logo-footer-dark{
    background: url(../img/logo-kapriz-dark.png) center center no-repeat;
    background-size: 100%;
}

.price-basket, .option{
    margin: 10px;
    border-radius: 25px;
    text-align: center;
    letter-spacing: .6px;
    padding: 8px;
    
    color:#3F3F3F !important;
    background: #fff !important;
    border: 0.5px solid #3F3F3F !important;
    
    transition: all .1s linear;
} 

/* ~~~~ end of changes in style.css ~~~~  */

.price-basket a, .option a{ 
    color: rgba(0,0,0,1);
    text-decoration: none;
}

.price-basket:hover{
    background: #E25082 !important;
    color: #fff !important;
    border: 1px solid #E25082 !important;
}

.main-section{
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    width: 926px;
    
}

.panel, .panel-footer{
    border: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.panel-heading, .panel-footer{
    background: #FFF !important;
}

.panel-heading:hover, .panel-footer:hover{
    background: #FFF !important;
}

#scale-slider{
    height: 1px !important;   
}

.ui-slider-range{
    height: 1px !important;
    background: #E25082 !important;
}

.ui-slider-handle{
    height: 5px  !important;
    width: 5px  !important;
    margin: 2.5px 0 0 0 !important;
    border-radius: 100% !important;
    background: #E25082 !important;
}

.ui-state-hover, .ui-state-focus, .ui-state-active{
    background: #E25082 !important;
    border-color: #E25082 !important;
}

.ui-slider-label{
    font-size: 10px !important;
}

.ui-slider-pip{
    display: none;
}

.filters{
    display: inline-block;
    vertical-align:top;
    
    width: 34%;
    
    font-weight: 700;
    
    color: rgba(0,0,0,0.6);
}

.filter{
    width: 295px;
    
    display: inline-block;
}

.filter-text{    
    width: 230px;
    
    margin-left: 40px;
    
    display: inline-block;
}

.filter-but{
    width: 20px;
    height: 20px;
    
    background: url(../img/filter-but.png) center center no-repeat;
    background-size: cover;
    
    display: inline-block;
    
    transition: 0.2s linear;
    cursor: pointer;
}

.spoiler-cursor{
    cursor: pointer;
}

.spoiler{
    width: 260px;
    
    margin-left: 40px;
}

.spoiler-block{
    display: inline-block;
    
    border: 2px solid rgba(203,84,131,1);
    border-radius: 25px;
    color: rgba(203,84,131,1);
    
    font-weight: 600;
    text-align: center;
    
    cursor: pointer;
    
    transition: 0.5s linear;
    
    margin: 2px;
    padding: 5px!important;
    font-size: 15px;
    
    overflow: hidden;
}

.list-group-item{
    border: 0px solid #FFF;
}

.checking input{
   width: 0px;
}

input:checked + span{
   background: rgba(203,84,131,1) !important;
    color: #FFF !important;
}

.spoiler-block:hover{
    background: rgba(203,84,131,1);
    
    color: rgba(255,255,255,1);
}

/* goods */
.showcase{
    display: inline-block;
    
    width: 65%;
}

.product-thumb-border:hover {
    border: 1px solid #ddd;
}

.slider-padding{
    padding-top: 40px;
    color: #FFF;
    font-size: 14px;
}

.slider-padding a{
    color: #FFF;
}
/*   ИКОНКИ ПОЯВЛЕНИЕ
.product-thumb:hover .fa{
    display: block;
}

.fa{
    display: none;
    transition: 5s linear;
}*/

.button-custom{
	background: rgba(255,255,255,1) !important;
	border: 0px solid rgba(255,255,255,1) !important;	
}

.button-custom button{
	background: rgba(255,255,255,1) !important;
	border: 0px solid rgba(255,255,255,1) !important;	
}

.button-custom .fa-shopping-cart{
	color: rgba(203,84,131,1) !important;
}

button#list-view, button#grid-view{
    visibility: hidden;
}


.text-align-product{
	text-align:center !important;
}

.how-find a{
    margin-bottom: 200px;
}

.find-wrapper{
    margin-bottom: 0 !important;
}

#content{
    line-height: 20px;
}

.slider-size img{

}